<div class="gauge-container">
  <div class="gauge">
    <app-temperature-display
      [minTemperature]="temSer.minTemperature()"
      [maxTemperature]="temSer.maxTemperature()"
      [targetTemperature]="temSer.targetTemperature()"
    ></app-temperature-display>
  </div>

  <!-- Input fields for temperatures -->
  <div class="temperature-inputs">
    <label for="minTemperature">Min Temperature:</label>
    <input
      type="number"
      id="minTemperature"
      [value]="temSer.minTemperature()"
      (input)="temSer.updateMinTemperature($event)"
    />

    <label for="maxTemperature">Max Temperature:</label>
    <input
      type="number"
      id="maxTemperature"
      [value]="temSer.maxTemperature()"
      (input)="temSer.updateMaxTemperature($event)"
    />

    <label for="targetTemperature">Target Temperature:</label>
    <input
      type="number"
      id="targetTemperature"
      [value]="temSer.targetTemperature()"
      (input)="temSer.updateTargetTemperature($event)"
    />
  </div>
</div>
